/*BackGround total de la aplicacion*/
QMainWindow {
    background-color: #6ec1e4;
}

/*Botones*/
QPushButton {
    background-color: #61ce70;
    color: #000000;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #009c88;
    outline: none;
    height: 25px;
}

QPushButton:hover {
    background-color: #79db8a;
}

QPushButton:pressed {
    background-color: #4fa75e
}

/*Para los inputs tanto de texto como de fecha*/
QLineEdit,
QDateEdit,
QTextEdit,
QComboBox {
    background-color: #ffffff;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px;
}

/*Etiqueta*/
QLabel {
    font-size: 16px;
    color: #7a7a7a;
    margin-bottom: 5px;
}

/*Tabla*/
QTableWidget {
    background-color: #fdf9e3;
    border: 1px solid #ccc;
    font-size: 14px;
}

QHeaderView::section {
    background-color: #f7bc09;
    font-weight: bold;
    padding: 6px;
    border: none;
    color: #54595F
}