#Ignorar archivos creados por pyinstaller
build
dist

#Ignorar Base de Datos
*.db

#Ignorar Cache de Python
# Ignorar todos los archivos de caché de Python
__pycache__/
*.py[cod]

# Ignorar caché en subdirectorios como UI/
UI/__pycache__/
*.pyc
*.pyc
